.position-r{
    position: relative;
    top: 0;
    left: 0;
}
// flex layout
.d-flex{
    display: flex;
}
.flex-d-c{
    flex-direction: column;
}
.just-a{
    justify-content: space-around;
}
.just-b{
    justify-content: space-between;
}
.just-c{
    justify-content: center;
}
.align-c{
    align-items: center;
}
.flex-1{
    flex: 1;
}


// other
.over-h{
    overflow: hidden;
}

.white-nowrap {
    white-space: nowrap;
}

.text-o-e{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-o-e-2{
    width: 100%;
    text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}